 
header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8em;
}

header > h1 {
  font-size: 2vw;
  margin: 0;
}

header > nav > ul {
  display: flex;
  gap: 4em;
  list-style: none;
}