.card, .card-cat-photo {
  border-radius: 16px 16px 0 0;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
  border-radius: 16px;
}

.card-cat-photo {
  width: 250px;
  max-width: fit-content;
  height: auto;
  object-fit: cover;
}

.card-content {
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  padding: 2vh 4vh;
}

.description {
  text-align: center;
  margin: 0;
  font-size: 2.5vh;
}

.meet-cat-link {
  width: 80%;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 4vh;
  padding: 1vh 4vh;
  border-radius: 8px;
  background-color: #B58E7C;
}

@media screen and (min-width: 992px) {
  .card-cat-photo {
    width: auto;
    max-width: 100%;
    height: 100%;
    max-height: max-content;
  }
  .meet-cat-link {
    font-size: 3vh;
  }
}