/* MOBILE SCREEN STYLES */
@media screen and (max-width: 480px) {
  .available-cats-h2 {
    font-size: 4vh;
  }
  .list-of-cats {
    display: flex;
    gap: 2vh;
    overflow-x: auto;
  }
}

@media screen and (min-width: 992px) {
  .list-of-cats {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2vh;
  }
}