@import url('../../../../App.css');

:root {
  --main-border-radius: 16px;
}

.adopt-link, .terms-link {
  color: #000;
  text-align: center;
  text-decoration: none;
}

.adopt-link {
  background-color: #553F38;
  color: #D3C4B6;
}
.terms-link {
  background-color: #c2b1a1;
  color: #553F38;
}

/* MOBILE SCREEN STYLES */
@media screen and (max-width: 480px) {
  .hero-section {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .h2-title {
    font-size: 5vh;
    font-weight: 900;
  }
  .p-slogan {
    font-size: 3vh;
  }
  .links-div {
    display: flex;
    flex-direction: column;
    gap: 3vh;
  }
  .adopt-link, .terms-link {
    padding: 3vh 4vh;
    border-radius: var(--main-border-radius);
    font-size: 3.5vh;
  }
  .cat-photo {
    width: 100%;
    max-width: 100%;
    border-radius: var(--main-border-radius);
  }
}

/* PC SCREEN STYLES*/
@media screen and (min-width: 992px) {
  .hero-section {
    display: flex;
    justify-content: space-between;
    margin: 16vh 0;
    gap: 6vh;
  }
  .left-side-article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .texts-div {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .h2-title {
    margin: 0;
    font-size: 6vh;
  }
  .p-slogan {
    font-size: 3vh;
  }
  .links-div {
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
  .adopt-link, .terms-link {
    padding: 2vh 3vh;
    border-radius: var(--main-border-radius);
    font-size: 3vh;
  }
  .cat-photo {
    height: 100%;
    max-height: 100%;
    border-radius: var(--main-border-radius);
  }
}