@import url('../../../../App.css');

/* MOBILE SCREEN STYLES */
@media screen and (max-width: 480px) {
  article {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    text-align: center;
  }
  .h2-title {
    margin: 6vh 0;
    padding: 0;
    text-align: center;
    font-size: 5vh;
  }
  .h2-subtitle {
    text-align: center;
    font-size: 3vh;
  }
  .hero-section-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .adopt-now-div {
    width: 90%;
    display: flex;
    justify-content: center;
    background-color: var(--van-dyke);
    padding: 1em;
    border-radius: 8px;
  }
  .adopt-now-div a {
    color: #ffffff;
    font-weight: 800;
    font-size: large;
    text-decoration: none;
  }
  .cat-photo {
    width: 90%;
    height: auto;
    border-radius: 8px;
  }
}

@media screen and (min-width: 992px) {
  .hero-section {
    height: 80vh;
    display: flex;
    align-items: center;
  }
  .hero-section-article {
    width: 100%;
    display: flex;
  }
  .hero-section-div {
    display: flex;
    flex-direction: column;
  }
  .h2-title {
    font-size: 6vh;
  }
  .h2-subtitle {
    font-size: 4vh;
  }
  .cat-photo {
    border-radius: 16px;
  }
}