:root {
  --timberwolf: #DFD8D2;
  --van-dyke: #553F38;
  --beaver: #B58E7C;
  --platinum: #E2E6E4;
  --champagne-pink: #DACBC0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  background-attachment: fixed;
  background: rgb(223,216,210);
  background: linear-gradient(180deg, rgba(223,216,210,1) 0%, rgb(212, 182, 162) 100%);
}

/* MOBILE SCREEN STYLES */
@media screen and (max-width: 480px) {
  #root {
    height: fit-content;
    padding: 2vh 4vh;
    /* background-image: url("./assets/background_image.jpg");
    background-position: center;
    background-attachment: fixed; */
  }
}

/* PC SCREEN STYLES */
@media screen and (min-width: 992px) {
  #root {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0 20vw;
  }  
}