:root {
  --timberwolf: #DFD8D2;
  --van-dyke: #553F38;
  --beaver: #B58E7C;
  --platinum: #E2E6E4;
  --champagne-pink: #DACBC0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* MOBILE SCREEN STYLES */
@media screen and (max-width: 480px) {
  #root {
    height: fit-content;
    padding: 2vh;
    /* background-image: url("./assets/background_image.jpg");
    background-position: center;
    background-attachment: fixed; */
    background-attachment: fixed;
    background: rgb(223,216,210);
    background: linear-gradient(180deg, rgba(223,216,210,1) 0%, rgb(214, 189, 172) 100%);
  }
}

/* PC SCREEN STYLES */
@media screen and (min-width: 481px) {
  #root {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0 20vw;
  }  
}